.navbar{
  width: 100%;
  padding: 10px 20px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px var(--Button);
  background-color: var(--Background);
}
.navItemCon{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navFil{
  display: flex;
  align-items: center;
  border: 1px solid black;
  border: 15px;
  gap: 20px;
}
.hamburger{
  font-size: 1.5rem;
  color: var(--Text);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--Text);
  cursor: pointer;
}
.hmgIcon{
  font-size: 1.7rem;
}
.navsearch{
  display: flex;
  align-items: center;
  border: 1PX solid var(--Button);
  border-radius: 15px;
  overflow: hidden;
  padding: 0px 10px;
}
.navsearch input{
  flex: 1;
  background-color: transparent;
  padding: 5px;
  max-width: 150px;
  outline: none;
  border: none;
  color: var(--Text);
}
.navsearchIcon{
  font-size: 1rem;
  font-weight: 500;
  color: var(--Text);
}



.navbar {
  width: 100%;
  padding: 10px 20px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px var(--Button);
  background-color: var(--Background);
}

.navItemCon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navFil {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburger {
  font-size: 1.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--Text);
  cursor: pointer;
}

.hmgIcon {
  font-size: 1.7rem;
}

.navsearch {
  display: flex;
  align-items: center;
  border: 1px solid var(--Button);
  border-radius: 15px;
  overflow: hidden;
  padding: 0px 10px;
}

.navsearch input {
  flex: 1;
  background-color: transparent;
  padding: 5px;
  max-width: 150px;
  outline: none;
  border: none;
  color: var(--Text);
}

.navsearchIcon {
  font-size: 1rem;
  font-weight: 500;
  color: var(--Text);
}

/* --------------------- */
/*Responsive Section */
/* --------------------- */
@media (max-width: 768px) {
  .navsearch {
    display: none;
  }

  .navItemCon {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar {
    padding: 10px 15px;
  }

  .navFil {
    gap: 10px;
  }
}

